header {
    width: 100%;
    background: linear-gradient(270deg, rgb(23, 23, 23), rgb(66, 67, 67));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 0;
    position: relative;
    border-radius: 0 0 20px 20px; /* Adjusted border radius */
}

.header-content {
    display: flex;
    justify-content: space-between; /* To span the content from left to right */
    align-items: center;
    max-width: 100%; /* Adjusted to span from left to right */
    margin: 0 auto;
}

.name h1{
    margin-right: 580px;
    font-family: cursive;
    color: rgb(255, 0, 0);
}

/* Define shining animation */
@keyframes shine {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}


/* Add animation for the logo */
.logo {
    position: relative; /* Position relative for absolute positioning */
    margin-top: 20px; /* Top margin for the logo */
    margin-right: auto; /* Push the logo to the left */
    margin-left: 20px; /* Add space from the left */
}

.logo img {
    position: relative; /* Position absolute for precise placement */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    animation: shine 3s infinite; /* Apply animation */
    height: 100px; /* Set the height */
    width: auto; /* Let the width adjust automatically */
    margin-left: 20px;
}


.separator {
    height: 30px;
    width: 1px;
    background-color: #fff;
    margin: 0 20px;
}

.navbar {
    list-style-type: none;
    margin: 20px;
    padding: 10px 0;
    border-radius: 0 0 20px 20px; /* Adjusted border radius */
    margin-right: 80px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}




/* Footer Styles */
footer {
    background: linear-gradient(270deg, rgb(23, 23, 23), rgb(66, 67, 67));
    font-family: cursive;
}

.footerContainer {
    width: 100%;
    padding: 50px 20px; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Added margin bottom for spacing */
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 0 10px; /* Adjusted margin */
    border-radius: 50%;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
}

.socialIcons a:hover i {
    color: white;
}

.footerNav ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    list-style: none;
    padding: 0;
    justify-content: center;
}

.footerNav ul li {
    margin: 10px 20px; /* Adjusted margin */
}

.footerNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: opacity 0.3s ease; /* Smooth transition */
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background: linear-gradient(270deg, rgb(23, 23, 23), rgb(66, 67, 67));
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
    margin: 0;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}